/* Definindo as cores padrão */
body {
  font-family: Arial, sans-serif;
  background-color: #F3F4F6; /* cor de fundo clara */
  color: #333; /* texto escuro */
}

h1 {
  color: #0066cc; /* azul da escola */
}

button {
  background-color: #cc0000; /* vermelho da escola */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #b30000; /* tom mais escuro de vermelho */
}

#app {
  margin: 20px;
}
